{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper text-center">
    <h1 class="mt-5" >Hello!</h1>
    <h1 class="mt-5">WIP</h1>
<h1 class="mt-5"> Soon as possible!!!</h1>

</div>
{% endblock %}
