{% extends "base.html.twig" %}
{% block title %} 
    produit

{% endblock %}

{% block body %}
<div class="container text-center d-flex-column m-4 "  >
<h1>Hey!! hey!</h1>
<p>Vous n'etes pas connecté!!</p>
</div>





{% endblock %}