{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<h1 class="text-center mt-5" >Nos produits</h1>
<div class="container d-flex justify-content-center row mr-sm-4" style="margin-left:5%" >
{% for produit in produits %}
<div class="card m-4  col-lg-3 col-sm-6 " >
 <img class="card-img-top" src={{produit.image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{produit.name}}</h5>
    <p class="card-text">{{produit.description}}</p>
    <p class="card-integer">{{produit.price}} euro</p>
    <a href="#" class="btn-primary ">Ajouter au panier</a>
  </div>
</div>
{% endfor %}
</div>

{{ knp_pagination_render(produits) }}

{% endblock %}
