<nav class="navbar navbar-expand navbar-dark bg-primary sm-mr-0 sm-ml-0" >
  <div class="container-fluid">
    <a class="navbar-brand">Nozama</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/produit">shop</a>
        </li>
        <li class="nav-item " >
          <a class="nav-link" href="/apropos">About</a>
        </li>
        <li class="nav-item " style="margin-left:300px">
          <a class="nav-link" href="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/panier">panier</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin">admin</a>
        </li>
    </ul>
    </div>
  </div>
</nav>
     
   
    

 
   